.back_home{
    position: relative;
    margin-left:-380px;
    margin-top: 0px;
}

.demo_div{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: auto;
}