.back_home {
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
}

.demo_div {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    min-height: 75vh;
}

.card_demo {
    margin: auto;

}

.img_demo {
    height: 45rem;
}