.back_home{
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 1%;
}

.demo_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.card_demo{
    margin:auto;
   
}

.img_demo{
    height: 45rem;
}