.list_div{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    
    width: 100%;
  
    gap: 10px;;
}

i{
    cursor: pointer;
}
div> a{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 50;
  
}


.learn_like{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star_img{
    width: 80%;
    height: 100px;
    position: relative;
    margin-top:-30px;
}
span{
    cursor: pointer;
}

