.nav_test:hover {
  color: white;
  transform: scale(1, 1);
}



.dp_none {
  display: none;
}

.star_img {
  width: 80%;
  height: 120px;
  position: relative;
  margin-top: -30px;
}





ul {
  display: flex;
}

ul>li {
  color: darkgray;
  list-style: none;
  margin-right: 2.5em;
  font-size: 2.0em;
  font-weight: 600;
}

nav>a {
  color: inherit;
}



