.single_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    min-height: 85vh;
    background-color: white;
    margin: auto;
}

.search-container {
    position: relative;
    display: inline-block;
    margin: auto;
    height: 50px;
    width: 150px;
    vertical-align: bottom;
}

.button {
    display: inline-block;

    background-color: #444;

    padding-left: 32px;

    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





.mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.searchbutton {
    position: absolute;
    font-size: 22px;
    width: 40%;
    margin: 0;
    padding: 0;
    top: 0;
}

.search:focus+.searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
}

.search {
    position: absolute;
    left: 51px;
    background-color: white;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;

    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.search:focus {
    width: 250px;
    /* Bar width+1px */
    padding: 0 16px 0 0;
}

.expandright {
    right: auto;
    right: 49px;
    /* Button width-1px */
}

.expandright:focus {
    padding: 0 0 0 16px;
}